html,
body,
header,
.container-fluid {
   height: 100%;
}

header,
section,
footer {
	clear: both;
}

::selection {background: #FF5959;}

h1 {font-size: 4em;}

h2 {font-size: 3.5em;}

p {font-size: 2em;}

a,
a:link,
a:visited,
a:hover,
a:active {
	color: #FF5959;
}

body {
	background: #EEE;
	color: #EEE;
	font-family: 'Oswald', sans-serif;
	padding-top: 55px;
}

.logo {
	border-left: 2px solid #FF5959;
	color: #FF7A7A;
	font-size: 1em;
	left: 30px;
	line-height: 1em;
	padding-left: 2px;
	position: fixed;
	top: 13px;
	z-index: 200;
}

nav {
	background: #414141;
	display: flex;
	justify-content: center;
	overflow-x: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}

nav ul {
	height: 55px;
	margin-bottom: 0;
	padding-left: 0;
	padding-top: 13px;
}

nav li {
  display: inline-block;
	list-style: none;
}

nav a {
	border-bottom: 3px solid #414141;
	font-family: 'Muli', sans-serif;
	font-size: 1.25em;
	height: 100%;
	padding: 15px 20px;
	text-align: center;
	transition: .3s all ease-out;
	width: 100px;
}

nav a,
nav a:link,
nav a:visited,
nav a:hover,
nav a:active {
	color: #EEE;
	text-decoration: none;
}

nav a:hover {border-bottom: 3px solid #5F5F5F;}

nav .active a {border-bottom: 3px solid #EEE;}

header {
	min-height: 500px;
	position: relative;
}

header div {
	height: 50%;
}

header p {position: absolute;}

.pic {
	align-items: center;
  background: url("../images/background.jpg") fixed #EEE;
	background-size: cover;
	display: flex;
	justify-content: center;
}

.pic p {
	color: #FFF;
	font-size: 7em;
	margin: auto;
}

.upper,
.lower {
	background: #414141;
	font-size: 1.5em;
}

.upper p {
	left: 5%;
	top: 30%;
}

.lower {text-align: right;}

.lower p {
	right: 5%;
	top: 30%;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

#work {
	background: url("../images/background-work.jpg") #EEE;
	background-size: cover;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	height: auto;
}

#work figure {
	background: #FFF;
	box-shadow: 3px 3px 10px #BEBEBE;
	padding: 0;
	margin: 20px 10px;
}

#work img {
	cursor: pointer;
  display:block;
  margin:auto;
	padding: 5% 5% 7%;
	transition: .3s all ease-out;
}

#work img:hover {
	transform: scale(1.03);
}

figcaption {
	font-size: 1.4em;
	font-weight: bold;
	padding: 0 5% 5%;
	text-align: center;
}

#about {
	background: #414141;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	min-height: 70%;
	min-height: 600px;
}

.about-title {
	background: #414141;
	display: flex;
	height: 35%;
	margin: auto 0;
}

.about-title p {
	font-size: 3.25em;
	font-weight: bold;
	margin: auto;
	padding: 20px 0;
	text-align: center;
}

#about .row {
	color: #EEE;
	display: flex;
	font-size: 0.75em;
	height: auto;
	line-height: 3.5em;
	margin: 0;
	padding: 0 10% 25px;
	text-align: justify;
}

#about figure {margin: 0 auto;}

#about .row div {margin: auto;}

#about .resume {
	font-size: 1.25em;
	text-align: center;
	padding-bottom: 20px;
}

#about img {
    width: auto;
    max-height: 80%;
}

#contact {
	color: #414141;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: url("../images/background-contact.jpg") #EEE;
	background-size: cover;
	min-height: 500px;
	height: 88%;
	font-size: 1.75em;
	line-height: 50px;
	width: 100%;
}

#contact .row {
	padding: 0 10%;
	width: 100%;
}

#contact p {
	padding-top: 20px;
	font-size: 1em;
}

#contact .icons {
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
	width: 50%;
}

#contact i {transition: .5s all ease-out;}

#contact i:hover {
	font-size: 1.25em;
	text-shadow: 0 0 8px #FF5959;
}

#contact a,
#contact a:link,
#contact a:visited,
#contact a:hover,
#contact a:active {
	color: #414141;
	text-decoration: none;
}

form .form-group {
	margin-left: 0;
	position: relative;
	width: 100%;
}

form .form-group:first-child {margin-top: 30px;}

.form-group .form-control {
	background-color: #BEBEBE;
  border: 1px solid #BEBEBE;
	border-radius: 0;
	clear: both;
	color: #414141;
	display: block;
	margin-right: 20px;
	padding-right: 0;
	width: 100%;
}

.form-group .form-control:focus {
	background-color: #EEE;
	border-color: #EEE;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #FF5959;
}

.form-control::placeholder {color: #EEE;}
.form-control:focus::placeholder {color: #BEBEBE;}

textarea {
	max-height: 300px;
	max-width: 100%;
}

form .btn {
	background: #EEE;
	border-radius: 0;
	clear: both;
	margin-bottom: 20px;
}

footer {
	align-items: center;
	background: #414141;
	color: #EEE;
	display: flex;
	font-size: 0.75em;
	height: 13%;
	justify-content: center;
	min-height: 70px;
	text-align: center;
	width: 100%;
}

footer p {font-size: 1.5em;}

.modal-body {display: flex;}

.content {margin: auto;}

.content img {
	display: block;
	height: auto;
	max-width: 100%;
}

@media only screen and (max-width: 991px) {
	.pic p {
		font-size: 6em;
	}

	#about .row {display: block;}

	#about figure {
		margin: 0 25% 0 25%;
		width: 50%;
	}
}

@media only screen and (max-width: 680px) {
	.logo {display: none;}

	nav a {font-size: 0.9em;	}

	.upper,
	.lower {
		font-size: 0.75em;
	}

	.pic p {
		font-size: 3em;
	}

	figcaption {font-size: 0.8em;}

	#about .row {font-size: 0.6em;}

	.about-title p {font-size: 2em;}

	#contact {
		height: auto;
		margin: 50px 0;
		line-height: 30px;
	}

	#contact p {font-size: 0.75em;}

}
